  .scale-in-center {
    -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

  
  
  
      @media only screen and (min-width: 600px) {
      body {
          background: url('obrazy/imageedit_7_2480844669.png') no-repeat center center fixed;
          font-family: 'DM Sans', sans-serif;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
      }
      a {
          text-align:center;
          width: 100%;
          margin-left:auto;
          margin-right:auto;
      }
      #logtext {
          margin-left:5%;
      }
      #sitename {
          margin-left:auto;
          margin-right:auto;
          width:50%;
          color: white;
          font-size: 450%; 
      }
      h1 {
          margin-top:2%;
          margin-left:auto;
          margin-right:auto;
          color: white;
          font-size: 400%;
          text-align:center;
      }
      h2 {
          margin-top:2%;
          margin-left:5%;
          color: white;
          font-size: 300%;
      }
      #blur {
          background-color: rgba(0, 0, 0, 0.4);
          backdrop-filter: blur(1px);
          width: 100%;
          margin-left:auto;
          margin-right:auto;
          padding:2%;
          margin-top:-4%;
      }
      #menu_option {
          margin-top:3%;
          margin-left:5%;
          margin-bottom:3%;
          background: transparent;
          font-size: 300%;
          padding: 1%;
          font-family: 'DM Sans', sans-serif;
          color: white;
          border-color:white;
          border-style: solid;
          border-width: 3px;
          width:90%;
          border-radius: 25px;
      }   
          }
          @media only screen and (min-width: 1300px) { 
       body {
          background: url('obrazy/imageedit_7_2480844669.png') no-repeat center center fixed;
          font-family: 'DM Sans', sans-serif;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
      }
      #sitename {
          margin-left:auto;
          margin-right:auto;
          width:30%;
          color: white;
          font-size: 400%; 
      }
      a {
          text-align:center;
          width: 100%;
          margin-left:auto;
          margin-right:auto;
      }
      h1 {
          margin-top:2%;
          margin-left:auto;
          margin-right:auto;
          color: white;
          font-size: 175%;
          text-align:center;
      }
      h2 {
          margin-top:2%;
          margin-left:5%; 
          color: white;
          font-size: 150%;
      }
      #blur {
          background-color: rgba(0, 0, 0, 0.4);
          backdrop-filter: blur(1px);
          width: 40%;
          margin-left:auto;
          margin-right:auto;
          padding:2%;
          margin-top:1%;
      }
      #menu_option {
          margin-top:1%;
          margin-left:5%;
          margin-bottom:1%;
          background: transparent;
          font-size: 175%;
          padding: 1%;
          font-family: 'DM Sans', sans-serif;
          color: white;
          border-color:white;
          border-style: solid;
          border-width: 3px;
          width:90%;
      }       
              }
      @media only screen and (min-width: 1900px) {
      body {
          background: url('obrazy/imageedit_7_2480844669.png') no-repeat center center fixed;
          font-family: 'DM Sans', sans-serif;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
      }
      #sitename {
          margin-left:auto;
          margin-right:auto;
          width:25%;
          color: white;
          font-size: 450%; 
      }
      a {
          text-align:center;
          width: 100%;
          margin-left:auto;
          margin-right:auto;
      }
      h1 {
          margin-top:2%;
          margin-left:auto;
          margin-right:auto;
          color: white;
          font-size: 300%;
          text-align:center;
      }
      h2 {
          margin-top:2%;
          margin-left:5%; 
          color: white;
          font-size: 300%;
      }
      #blur {
          background-color: rgba(0, 0, 0, 0.4);
          backdrop-filter: blur(1px);
          width: 40%;
          margin-left:auto;
          margin-right:auto;
          padding:2%;
          margin-top:1%;
      }
      #menu_option {
          margin-top:1%;
          margin-left:5%;
          margin-bottom:1%;
          background: transparent;
          font-size: 200%;
          padding: 1%;
          font-family: 'DM Sans', sans-serif;
          color: white;
          border-color:white;
          border-style: solid;
          border-width: 3px;
          width:90%;
      }
      }